# Python virtual environments
venv/
.venv/
*/venv/
*/virtualenv/
env/
ENV/
Backend/venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm files
.idea/

# VS Code files
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Large files
*.dll
*.lib
